@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html,
body,
#root,
.app {
    overflow: auto;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    background-image: url('./assets/img/bg.png');
    background-size: cover;
    background-attachment: local;
}

@font-face {
    font-family: 'DaysOne';
    src: local('DaysOne'),
    url('./assets/fonts/DaysOne-Regular.ttf') format('truetype');
}

/*MOBILE*/
@media (max-width: 1000px) {

    .aboutMe_firstBlock_name {
        flex-direction: column-reverse;
    }

    .aboutMe_firstBlock_name_profilePhoto {
        height: 50vw;
        width: 50vw;
        margin-top: 5%;
        margin-bottom: 7%;
        align-self: center;
    }

    .aM_fB_n_myName {
        font-size: 30px;
    }

    .aM_fB_n_specialty {
        font-size: 22px;
    }

    .aboutMe_firstBlock_description {
        font-size: 17px;
        line-height: 28px;
    }

    .blockTitle,
    .edAndWork_block_blockTitle {
        font-size: 22px;
        margin-bottom: 4%;
    }

    .techItem_photo {
        height: 75px;
    }

    .techItem_photo img {
        height: 75px;
    }

    .techItem_description {
        height: 75px;
        width: 75px;
        margin-top: -96px;
    }

    .aboutMe_skillsGrid {
        grid-template-columns: repeat(auto-fit, 97px);
    }

    .techItem_description_title {
        font-size: 14px;
    }

    .aboutMe_firstBlock_englishLvlBlock img {
        height: 30px;
    }

    .softSkill_title {
        font-size: 18px;
        margin: 3% 0 3% 0;
    }

    .softSkill img,
    .aboutMe_edAndWork img {
        height: 85px;
    }

    .softSkill_description {
        font-size: 17px;
    }

    .aboutMe_education_block {
        border-right-width: 0;
        border-bottom-width: 1px;
    }

    .aboutMe_education_block,
    .aboutMe_work_block {
        padding: 4.4% 5.7% 5.7% 5.7%;
    }

    .edAndWork_block_title {
        margin: 3% 0 2% 0;
        font-size: 18px;
    }

    .edAndWork_block_years {
        font-size: 16px;
    }

    .edAndWork_block_description {
        font-size: 17px;
        margin-top: 2%;
    }

    .portfolio_header_title,
    .contacts_header_title {
        font-family: "DaysOne", sans-serif;
        font-size: 28px;
    }

    .portfolio_header_wrapper,
    .contacts_header_wrapper {
        padding: 15px 5.6% 15px 5.6%;
    }

    .portfolio_content,
    .contacts_content {
        padding: 5.6%;
    }

    .contacts_content_item_photo img {
        height: 25px;
    }

    .contacts_content_item_title {
        font-size: 18px;
    }

    .contacts_content_item_photo {
        width: 32px;
        margin-right: 4%;
        display: flex;
        justify-content: center;
    }

    .contacts_content_item {
        margin-top: 6.3%;
    }

    .aboutMe_firstBlock_name_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_buttons p {
        padding: 22px 5px 22px 5px;
        cursor: pointer;
        font-family: "DaysOne", sans-serif;
        font-size: 18px;
        transition: color 300ms ease;
        color: #8b8b8c;
        margin: 0 2% 0 2%;
        user-select: none;
    }
}

/*DESKTOP*/
@media (min-width: 1000px) {
    .header_buttons {
        margin-left: 8%;
        margin-right: 8%;
    }

    .aboutMe {
        margin-left: 8%;
        margin-right: 8%;
    }

    .aboutMe_firstBlock_name {
        flex-direction: row;
    }

    .aboutMe_firstBlock_name_profilePhoto {
        height: 15.5vw;
        width: 15.5vw;
        margin-right: max(5.5%, 25px);
    }

    .aboutMe_firstBlock_name {
        justify-content: space-between;
    }

    .aM_fB_n_myName {
        font-size: 47px;
    }

    .aM_fB_n_specialty {
        font-size: 37px;
    }

    .aboutMe_firstBlock_description {
        font-size: 26px;
        line-height: 42px;
    }

    .blockTitle,
    .edAndWork_block_blockTitle {
        font-size: 37px;
        margin-bottom: 10%;
    }

    .techItem_photo {
        height: 105px;
    }

    .techItem_photo img {
        height: 105px;
    }

    .techItem_description {
        height: 105px;
        width: 105px;
        margin-top: -126px;
    }

    .aboutMe_skillsGrid {
        grid-template-columns: repeat(auto-fit, 127px);
    }

    .techItem_description_title {
        font-size: 18px;
    }

    .aboutMe_firstBlock_englishLvlBlock img {
        height: 40px;
    }

    .softSkill_title {
        font-size: 27px;
        margin: 21px 0 21px 0;
    }

    .softSkill img,
    .aboutMe_edAndWork img {
        height: 125px;
    }

    .softSkill_description {
        font-size: 20px;
    }

    .aboutMe_edAndWork {
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutMe_education_block {
        border-right-width: 1px;
        border-bottom-width: 0;
    }

    .aboutMe_education_block,
    .aboutMe_work_block {
        padding: 8.8% 11.4% 11.4% 11.4%;
    }

    .edAndWork_block_title {
        font-size: 27px;
        margin: 21px 0 13px 0;
    }

    .edAndWork_block_years {
        font-size: 24px;
    }

    .edAndWork_block_description {
        font-size: 20px;
        margin-top: 13px;
    }

    .portfolio_header_wrapper,
    .contacts_header_wrapper {
        padding: 2% 4.8% 2% 4.8%;
        margin: 0 8% 0 8%;
    }

    .portfolio_header_title,
    .contacts_header_title {
        font-family: "DaysOne", sans-serif;
        font-size: 47px;
    }

    .portfolio_content,
    .contacts_content {
        padding: 4.8%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .contacts_content_item_photo img {
        height: 48px;
    }

    .contacts_content_item_title {
        font-size: 27px;
    }

    .contacts_content_item_photo {
        width: 58px;
        margin-right: 3%;
        display: flex;
        justify-content: center;
    }

    .contacts_content_item {
        margin-top: 3%;
    }

    .aboutMe_firstBlock_name_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header_buttons p {
        padding: 26px 15px 26px 15px;
        cursor: pointer;
        font-family: "DaysOne", sans-serif;
        font-size: 23px;
        transition: color 300ms ease;
        color: #8b8b8c;
        margin: 0 2% 0 2%;
    }

    .header_buttons p:hover {
        color: black;
    }
}

.header_buttons_icon {
    cursor: pointer;
}

.header {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: black;
}

.header_buttons {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-color: black;
}


.aboutMe {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-color: black;
}

.aboutMe_firstBlock {
    padding: 5.7%;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: black;
}

.aboutMe_firstBlock_name {
    font-family: "DaysOne", sans-serif;
    display: flex;
}


.aboutMe_firstBlock_name_profilePhoto {
    border-radius: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
}

.aboutMe_firstBlock_description {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: max(5%, 15px);
}

.aboutMe_firstBlock_englishLvlBlock {
    display: flex;
    align-items: center;
    margin-top: max(3%, 15px);
}

.blockTitle {
    font-family: "DaysOne", sans-serif;
    margin-bottom: 4%;
}

.aboutMe_techSkills,
.aboutMe_softSkills,
.aboutMe_expSkills {
    padding: 4.4% 5.7% 5.7% 5.7%;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: black;
}

.aboutMe_skillsGrid {
    width: 100%;
    display: grid;
    justify-content: space-between;
    column-gap: 4%;
    row-gap: calc(100vw * 0.04);
}

.techItem_photo {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    width: fit-content;
}


.techItem_description {
    position: relative;
    margin-left: 1px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 250ms ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.techItem_description:hover {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 1;
}

.techItem_description_title {
    cursor: default;
    color: white;
    font-family: "DaysOne", sans-serif;
    text-align: center;
}

.aboutMe_softSkills_grid {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 6%;
    row-gap: calc(100vw * 0.06);
}

.softSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.softSkill_title {
    font-family: "DaysOne", sans-serif;
}

.softSkill_description {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.aboutMe_edAndWork {
    display: grid;
    justify-content: space-between;
}


.aboutMe_education_block {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-color: black;
}

.aboutMe_edAndWork_block_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edAndWork_block_title {
    font-family: "DaysOne", sans-serif;
    text-align: center;
    width: 80%;
}

.edAndWork_block_years {
    font-family: "DaysOne", sans-serif;
    color: #4D4D4D;
}

.edAndWork_block_description {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.edAndWork_block_blockTitle {
    font-family: "DaysOne", sans-serif;
}

.portfolio_header,
.contacts_header {
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: black;
}

.portfolio_header_wrapper,
.contacts_header_wrapper {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-color: black;
    display: flex;
    align-items: center;
}

.portfolio_content,
.contacts_content {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-color: black;
}

.contacts_content_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.contacts_content_item_title {
    font-family: "DaysOne", sans-serif;
}
