/*MOBILE*/
@media (max-width: 750px) {
    .portfolioItem {
        flex-direction: column;
        align-items: flex-start;
        padding: 6%;
        outline: 1px black solid;
        transition: background-color 400ms ease;
        margin-top: 5%;
    }

    .portfolioItem:hover {
        background-color: rgba(0, 0, 100, 0.1);
    }

    .portfolioItem_description {
        width: 100%;
        font-size: 17px;
    }

    .portfolioItem_icon {
        height: 75px;
        padding-right: 20px;
    }

    .portfolioItem_text {
        padding-bottom: 15px;
    }

    .textTitle {
        font-family: "DaysOne", sans-serif;
        font-size: 20px;
    }

    .portfolioItem_icon_popup {
        height: 75px;
    }

    .portfolioItem_titles_popup {
        margin-left: 4%;
    }

    .portfolioPopup {
        backdrop-filter: blur(15px);
    }

    .portfolioPopup_bg {
        background-color: rgba(255, 255, 255, 0.75);
    }

    .closeIcon {
        top: calc(100vw * 0.03 - 25px);
        margin: -35px -30px -35px -35px;
        height: 20px;
    }

    .portfolioPopup_description_text {
        font-size: 17px;
        line-height: 28px;
    }

    .portfolioItem_text_popup {
        margin-bottom: 3%;
    }

    .portfolioPopup_content {
        padding: 5.6%;
    }

    .portfolioPopup_description_imgRight,
    .portfolioPopup_description_imgLeft {
        margin-bottom: 2%;
    }

    .portfolioPopup_description_technologies {
        font-size: 22px;
        margin-bottom: 4%;
        margin-top: 4%;
    }

    .portfolioPopup_description_link {
        font-size: 20px;
    }
}

/*DESKTOP*/
@media (min-width: 750px) {
    .portfolioItem {
        flex-direction: row;
        align-items: center;
        transition: background-color 300ms ease;
        padding: 2.4%;
    }

    .portfolioItem:hover,
    #contacts_telegram:hover {
        outline: 1px black solid;
        background-color: rgba(0, 0, 100, 0.1);
    }

    .portfolioItem_description {
        width: 48%;
        font-size: 21px;
    }

    .portfolioItem_icon {
        height: 125px;
    }

    .portfolioItem_icon_popup {
        height: 125px;
    }

    .portfolioItem_titles {
        margin-left: 42px;
    }

    .textTitle {
        font-family: "DaysOne", sans-serif;
        font-size: 27px;
    }

    .portfolioItem_titles_popup {
        margin-left: 2.5%;
    }

    .portfolioPopup {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.65);
    }

    .portfolioPopup_bg {
        margin: 3% 8% 3% 8%;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .closeIcon {
        top: calc(100vw * 0.03 - 35px);
        margin: -35px -35px -35px -35px;
        height: 27px;
    }

    .portfolioPopup_description_text {
        font-size: 22px;
        line-height: 38px;
    }

    .portfolioItem_text_popup {
        margin-bottom: 2%;
    }

    .portfolioPopup_content {
        padding: 4%;
    }

    .portfolioPopup_description_technologies {
        font-size: 37px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .portfolioPopup_description_link {
        font-size: 26px;
    }
}

.portfolioItem {
    display: flex;
    cursor: pointer;
    color: inherit;
    justify-content: space-between;
}


.portfolioItem_text_popup {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -30px;
}

.portfolioItem_text {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.portfolioItem_titles p {
    font-family: "DaysOne", sans-serif;
}

.portfolioItem_description {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.portfolioPopup {
    height: 100dvh;
    width: 100dvw;
    margin-right: calc(100vw * 0.01);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    border: 1px black solid;
}

.portfolioPopup_bg {
    position: relative;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


.closeIcon {
    position: sticky;
    left: calc(97% + 35px);
    cursor: pointer;
    opacity: 30%;
    transition: opacity 300ms ease;
    padding: 35px;
}

.closeIcon:hover {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.portfolioPopup_description_text {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.portfolioPopup_description_link {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    display: flex;
    font-weight: bold;
    margin-top: 4%;
    width: 94%;
    outline: 1px black solid;
    justify-content: center;
    padding: 3%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.portfolioPopup_description_link:hover {
    background-color: rgba(0, 0, 100, 0.1);
}

a, a:hover, a:visited {
    border: none;
    text-decoration: none;
    color: inherit;
}

.portfolioPopup_description_imgCenter {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.portfolioPopup_description_imgRight {
    margin-left: 2%;
    margin-top: 1%;
    float: right;
}

.portfolioPopup_description_imgLeft {
    margin-right: 2%;
    margin-top: 2%;
    float: left;
}

.portfolioPopup_description_technologies {
    font-family: "DaysOne", sans-serif;
}

.portfolioPopup_description {
    overflow: hidden;
}